@charset "UTF-8";
body{
	width: 800px;
    margin: auto; /* 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
    padding-left: 20px;
   	padding-right: 20px;
}
.box1{
    padding-top: 20px;
    margin-bottom: 15px;
    height: 80px;
}
.box1 h1{
    font-size:50px;
}
.box2{
	weight:1000px;
    height: 800px;
    overflow:hidden;
    border-width: 3px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 40px;
    padding-top: 60px;
}
.box3{
    height: 100px;
    overflow:hidden;
    align-items: right;
    padding-right: 10px;
}
.box3 button {
    width:80px;
    height: 50px;
    font-size: 20px;
    float: right;
    margin-left: 10px;
}
.question {
    position:absolute; bottom:0px;right: 5px;
}
.question:hover {          
    cursor: pointer;
}
.question:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.question p{
    display: none;
    text-align: left;
    background-color: #608b66;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 14px 16px 23px -12px rgba(0,0,0,0.55);
    right: -4px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 1.4;
}
.question p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
.question p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#608b66;
    right:10px;
    top:-12px;
}
.help-tip{
    position: relative;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    float: left;
    margin-bottom: 2px;
}
.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}
​@-webkit-keyframes fadeIn {
    0% {
   		opacity:0; 
        transform: scale(0.6);
    }
    100% {
        opacity:100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
  	0% { opacity:0; }
    100% { opacity:100%; }
}

.box2 th {
    font-size: 30px;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}
.box2 td {
    padding: 5px;
}